{{#each course as |course|}}
    {{#each course.scores as |score| }}
    <div class="datearry">'{{format_date date}}', {{total}}</div>
    
    {{/each}}
{{/each}} 


    <div id="chart" style="width: 700px; height: 500px"></div>
  

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    
    const arrdatatable = ["['Date', 'Score']"]
    const dateObj= document.querySelectorAll('.datearry')

    dateObj.forEach(arr=> arrdatatable.push(arr.innerHTML) )
    console.log(arrdatatable)


    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
    var data = google.visualization.arrayToDataTable([
        ['Date', 'Score'],
        ['2004',  1000 ],
        ['2005',  1170 ],
        ['2006',  660 ],

    ]);

    var options = {
        title: 'Your score in chart!',
        legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart'));

    chart.draw(data, options);
    }
</script>
