{{!-- need score and courses --}}
<div class="row mt-4" style="margin-top: 30px; border: 2px solid #076652; background-image: url('https://media.istockphoto.com/vectors/abstract-white-background-geometric-texture-vector-id954565408?b=1&k=20&m=954565408&s=170667a&w=0&h=6IG6ZuQI7FdXbEFXtEbHhY3BfBSu2_aRYTB_r6Oz-qc=');">
  <div class="col-md-6">
    <h4 style="margin-left: 20px;">Been golfing?</h4>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Course:</label>
        <input class="form-input" type="text" id="course" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-title">Par:</label>
        <input class="form-input" type="number" id="par" name="post-title" max="72" />
      </div>
      <div class="form-group">
        <label for="post-title">Score:</label>
        <input class="form-input" type="number" id="score" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-title">Date:</label>
        <input class="form-input" type="date" id="date" name="post-title" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary course-create">Create</button>
      </div>
    </form>
  </div>

{{!-- maybe put a graph --}}
{{!-- need to put info for past courses golfed on and display each one--}}
  {{#if course.length}}
  <div class="col-md-6 project-list">
    <h3>Past Course's:</h3>

    {{#each courses as |course|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>{{course.title}}</h4>
        <p>{{course.par}}</p>
        <p>{{score.date}}</p>
        <p>{{score.total}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/addscore.js"></script>
