{{!-- need reviews and courses --}}
<!-- Loop over each object in the projects array -->
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      What is Golf Score?
    </h2>
    <p>
      Golf Score is a application built for golf lovers where you can keep scores on your favorite courses, and enjoy the latest news of your favorite sport. 
    </p>
  </div>
  <div class="col-md-7">
    {{!-- add courses and reviews --}}
  </div>
</div>