{{!-- need reviews and courses --}}
<!-- Loop over each object in the projects array -->
<div class="col-md-12" style="margin-top:10px; text-align:center; font-size:larger; padding:5%; background-image:url('https://images.unsplash.com/photo-1516705416642-fa4f130a0bb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1230&q=80'); background-repeat:no-repeat; background-attachment:fixed; background-position:center top; color:white; border: 2px solid #076652;">
  <div class="transbox" style="margin: 30px; background-color: #ffffff; border: 1px solid black; opacity: 0.7;">
    <h2>
      What is Golf Score?
    </h2>
    <p>
      Golf Score is an application built for golf lovers where you can keep scores on your favorite courses, and enjoy the latest news of your favorite sport.
    </p>
  </div>
</div>


<div class="container d-flex" style="width: 90%;">
  <div class="row mb-4 project">
    <div class="col-md-7" id="map" style="margin-top: 40px; border:#076652 1px solid;">Find your Golf Course!</div>
    <div class="col-md-5">
      {{!-- add courses and reviews --}}
      <a href="/addreview">
      <button class="add-review-button add-review-button-1">Click to add your review</button>
      </a>
      {{> review-page}}
    </div>
  </div>
  
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  <script src="https://unpkg.com/esri-leaflet@2.3.2/dist/esri-leaflet.js" integrity="sha512-6LVib9wGnqVKIClCduEwsCub7iauLXpwrd5njR2J507m3A2a4HXJDLMiSZzjcksag3UluIfuW1KzuWVI5n/cuQ==" crossorigin=""></script>
  <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.js" integrity="sha512-8twnXcrOGP3WfMvjB0jS5pNigFuIWj4ALwWEgxhZ+mxvjF5/FBPVd5uAxqT8dd2kUmTVK9+yQJ4CmTmSg/sXAQ==" crossorigin=""></script>
  <script src="/js/map.js"></script>