{{!-- need reviews and courses --}}
<!-- Loop over each object in the projects array -->
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      What is Golf Score?
    </h2>
    <p>
      Golf Score is a application built for golf lovers where you can keep scores on your favorite courses, and enjoy the latest news of your favorite sport. 
    </p>
  </div>



  <div class="col-md-7">
    {{!-- add courses and reviews --}}
    <div id='map'>Map</div>

  </div>
</div>

        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>