{{!-- entertainment, golf news, youtube, articles? --}}
<section class="recentNews">
  <div class="container">
    <h2 class="news-title">Recent News</h2>
    <div class="row">
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://golf.com/news/tiger-woods-considering-comeback-pnc-championship/"><img alt="Tiger and Charlie" src="https://golf.com/wp-content/uploads/2021/12/TigerWoodsCharlieWoods.jpg"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>December</span><strong>3</strong>
            </div>
            <h3 class="ct-blog-header">
              Tiger Woods seriously considering comeback at PNC
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://golf.com/news/2021-hero-world-challenge-tee-times-round-3/"><img alt="Bryson DeChambrau swinging a driver" src="https://golf.com/wp-content/uploads/2021/12/Bryson.jpg"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>December</span><strong>3</strong>
            </div>
            <h3 class="ct-blog-header">
              2021 Hero World Challenge tee times: Third round pairings for Saturday
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.golfdigest.com/story/the-grove-xxiii-michael-jordan-member-member"><img alt="Overhead shot of Michael Jordans golf course" src="https://golfdigest.sports.sndimg.com/content/dam/images/golfdigest/fullset/2020/03/11/5e68e74cb7a5da0009dd1d0c_GD040120_PLAY_ARCHITECTURE_3.jpg.rend.hgtvcom.966.644.suffix/1587133629453.jpeg"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>December</span><strong>4</strong>
            </div>
            <h3 class="ct-blog-header">
              Membership at Michael Jordan's private club, The Grove XXIII
            </h3>
          </div>
        </div>
      </div>
  </div>
</section>