header {
  border-bottom: 2px solid #076652;
}

#map { 
  display: block;
  width: 80%;
  min-height: 400px;
}


img {
  width: 100%;
  height: 100%;
}

div.transbox h2 {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

h4 {
  margin-left: 20px;
  font-size: large;
}

h3 {
  margin-left: 20px;
  font-size: large;
}

a {
  text-decoration: none;
  color: #076652;
}

a:hover {
  color: yellow;
}

.no-button {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #076652;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}

.no-button:hover {
  color: yellow;
}

.diane {
  width: auto;
}

.credentials {
  font-size: large;
}